// More Information Button
@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.btn-more-info {
  margin: 0 auto;
  border: 1px solid $green;
  border-radius: em(5);
  padding: em(8);
  width: em(160);
  text-align: center;

  a {
    color: $green;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.9rem;
    vertical-align: middle;
  }
  &:hover {
    background-color: $green;
    transition: 0.3s ease-in-out;
    a {
      color: $dark;
    }
  }
}
