// Mobile Nav Styles
@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.btn-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  @include flatten;

  .active {
    svg {
      fill: $green;
    }
  }

  svg {
    &:hover,
    &:focus,
    &:active {
      fill: $green;
    }
  }

  @include mq($tablet) {
    display: none;
  }
}
