@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

//Favourite Heart icon

.fav-icon {
  width: em(30);
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin: em(10);
  cursor: pointer;
  z-index: 2;

  @include mq($tablet) {
    position: absolute;
    bottom: 0;
    top: auto;
  }
}
