// Footer

@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

footer {
  padding: 3rem 0 1rem;

  p {
    @include flatten;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.3;
    color: grey;
  }

  div {
    margin: 0 auto;
  }

  .footer-logo {
    img {
      width: em(80);
      margin: auto;
      display: block;
    }
  }

  @include mq($desktop) {
    display: flex;
    justify-content: space-evenly;

    .footer-contents {
      display: flex;
      justify-content: center;
      align-items: center;

      .footer-logo img {
        margin-top: 1rem;
      }

      p {
        padding-left: 1.5rem;
      }
    }
  }
}
