// Header

@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

header {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  // sticky nav
  width: 100%;
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: $darkViolet;

  // logo
  .logo {
    display: none;
    width: 5rem;
  }

  @include mq($tablet) {
    height: 80px;
    padding: 0 2rem;
    top: 0;
    bottom: auto;
    background-color: $dark;

    .logo {
      display: flex;
      width: 6rem;
      margin-top: 5px;
    }
  }

  @include mq($desktop) {
    padding: 0 5rem;
  }
}
