// Home Page Gallery
// Movie list - Popular, Top Rated..
@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.movies-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: em(10);

  img {
    width: 100%;
    display: block;
  }

  @include mq($mobile) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include mq($desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include mq($desktopWide) {
    grid-template-columns: repeat(6, 1fr);
  }
}
