// 404 Page Not Found
@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.error-section {
  display: flex;
  justify-content: center;

  .error-message {
    text-align: center;
    align-items: center;
    margin: 6rem 0;

    a {
      color: $violet;
      &:hover {
        text-decoration: underline;
      }
    }
    h2 {
      color: $green;
    }

    p {
      color: $light;
      padding: 0.5rem;
    }

    .fav-icon {
      width: em(20);
      position: relative;
      margin: 5px 0 0 5px;
    }
  }
}
