// About Page specification
@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

h1 {
  color: $light;
}

.about-main {
  @include border;
  background-color: $dark;
  margin-top: 3rem;
  border-radius: 10px;

  a {
    color: $green;
    &:hover {
      text-decoration: underline;
    }
  }

  section {
    color: $light;
    width: 100%;
    padding: 0 1rem;
    margin: 0 auto;

    h2 {
      color: $green;
      text-align: center;
      padding: em(20) 0;
    }

    p {
      margin: 0 auto;
    }

    .highlight {
      color: $green;
      display: inline;
    }
  }

  @include mq($desktop) {
    display: flex;
    p {
      width: 80%;
    }
  }
}

.tmdb-logo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  img {
    width: 5rem;
  }
}
