@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.nav-sort {
  @include mq($desktopWide) {
    width: 50%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: em(5);
    margin-bottom: em(10);

    &:last-child {
      margin-right: none;
    }
  }

  a {
    display: block;
    text-align: center;
    font-size: em(14);
    color: $light;
    font-weight: 500;
    border-bottom: 3px solid $dark;

    @include mq($tablet) {
      line-height: em(40);
      font-size: em(16);
    }

    @include mq($desktopWide) {
      font-size: em(18);
    }

    &:hover,
    &:focus,
    &:active {
      color: rgba($green, 0.9);
      border-bottom: 3px solid $green;
    }
  }
}
