// Sort Navigation bar
@use '../base/variables' as *;
@use '../utilities/functions' as *;
@use '../utilities/mixins' as *;

.nav-sort {
  .active {
    background-color: $green;
    color: $dark;
    font-weight: bold;

    &:hover,
    &:focus,
    &:active {
      color: $dark;
    }
  }

  @include mq($desktopWide) {
    width: 50%;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: em(20) em(5);

    &:last-child {
      margin-right: none;
    }
  }

  a {
    display: block;
    text-align: center;
    font-size: em(14);
    color: $light;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    border-radius: 20px;
    border: 1px solid $grey;

    &:hover,
    &:focus,
    &:active {
      border: 1px solid $green;
      color: $green;
    }

    @include mq($tablet) {
      font-size: em(16);
      padding: 1.2rem;
      line-height: em(0);
    }
  }
}
