// Wrapper
@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as *;

.wrapper {
  max-width: 1300px;
  padding: 0 1rem;
  @include mc();

  @include mq($tablet) {
    padding: 0 1rem;
  }
}
