// Mixins
@use '../base/variables' as *;
@use '../utilities/functions' as *;

// Margin center...
@mixin mc($set-tb: false, $t: 0, $b: 0) {
  @if ($set-tb) {
    margin: {
      top: $t;
      bottom: $b;
      left: auto;
      right: auto;
    }
  } @else {
    margin: {
      left: auto;
      right: auto;
    }
  }
}

@mixin flatten($is-list: false, $is-text: true) {
  margin: 0;
  padding: 0;
  @if ($is-list: true) {
    list-style: none;
  }
  @if ($is-text) {
    line-height: 1;
  }
}

// movie card, text content sections border
@mixin border {
  border: 1px solid rgba($green, 0.4);
}

// Media Queries
@mixin mq($w) {
  @media (min-width: em($w)) {
    @content;
  }
}
