// App Style Settings
@use '../utilities/functions' as *;

// Colors
$dark: #040206;
$grey: #727272;
$light: #ebebeb;
$green: #2fe2d8;
$violet: #795edd;
$darkViolet: #110a21;
$yellow: #f7b21c;
$lightgrey: #e1e1e1;

// Type
$bodyFont: "Montserrat", sans-serif;
$headingFont: "Montserrat", sans-serif;

// Layout
$section-padding: em(5) em(5);

// Breakpoints
$mobile: 440;
$tablet: 680;
$desktop: 900;
$desktopWide: 1200;
