// Imports

// Resets
@use './base/reset';
@use './base/type';

// Components
@use './components/body';
@use './components/wrapper';
@use './components/header';
@use './components/btn-main-nav';
@use './components/main-nav';
@use './components/main';
@use './components/footer';
@use './components/heart';

// Pages
@use './components/page-about';

// Utilities
@use './utilities/utility-classes';

// Google Fonts - Import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
